<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deleted Reddit Subscriptions</title>
</head>
<body>
    <h1>Deleted Subreddits:</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for subreddit in subreddits.items %}
                <tr>
                    <td>{{ subreddit.name }}</td>
                    <td>{{ subreddit.title }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {% if subreddits.has_prev %}
            <a href="{{ url_for('deleted_entries', page=subreddits.prev_num) }}">Previous</a>
        {% endif %}
        {% if subreddits.has_next %}
            <a href="{{ url_for('deleted_entries', page=subreddits.next_num) }}">Next</a>
        {% endif %}
    </div>
    <a href="{{ url_for('index') }}">Back to Subscriptions</a>
    <a href="{{ url_for('export_deleted') }}">Export Deleted Subscriptions</a>
</body>
</html>
